<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include("head-partial") -%>

<body>

  <!-- Navigation section -->
  <%- include("navigation-partial") -%>
  <hr>



  <!-- Edit section -->
  <section id="compose-section">

    <h2> Edit Post </h2>
    <hr>

    <!-- POST request form for new post containing title and text -->
    <form id="title-form" action="/edit" method="post">

      <!-- Title input field -->
      <p> Title </p>
      <input type="text" value="<%= postTitle %>" class="compose-title" name="postTitle" maxlength="5000" autocomplete="off" />

      <!-- Image input field -->
      <p> Image URL </p>
      <input type="text" value="<%= postImageURL %>" class="compose-file" name="filename">

      <!-- Text input field -->
      <p> Text </p>
      <textarea class="compose-text" name="postText" maxlength="5000"> <%= postText %> </textarea>

      <input type="hidden" name="postId" value="<%= postId %>">

      <!-- Submit button used to pass list title of added task to js on POST request -->
      <br>
      <button type="submit" class="submit-btn" name="post-submit">
        Save Changes
      </button>

      <a href="/posts/<%= postTitle %>"> Cancel Edit </a>


    </form>

  </section>



  <!-- Footer section -->
  <%- include("footer-partial") -%>

</body>

</html>
